.block-content {
    line-height: 1.4em;
}

img {
    width: 100%;
    display: block;
}

figure {
    margin-bottom: 1em;
    display:none;
}

.toggle-figure {
    display: block;
}

.toggle-type {
    color: #a5a5a5;
}

/* -------------------------------------------------
        Main
   ----------------------------------------------------*/

.page-main {

    }

    /* .page-main em {
        color: #a5a5a5;
    } */

    .page-main .projects-div {
        float: left;
        width: 70%;
        margin-right: 5%
    }

    .page-main .side-div {
        float: left;
        width: 25%;
    }

    .page-main-header > h2 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 0.2em;
    }

    .page-main-header > p {
        font-style: italic;
        color: #a5a5a5;
        width: 80%;
    }

    .page-main .projects-div nav:before {
        content: " ";
        display: block;
        height: 0.4em;
        background: url('../images/pattern.png') left top repeat-x;
        margin: 1em 0 2em;
    }

    .page-main .projects-div nav {
        margin-bottom: 1.5em;
    }

    .page-main .projects-div nav li {
        float: left;
    }

    .page-main .projects-div nav em {
        cursor: pointer;
    }

    .page-main .projects-div nav li:not(:last-child):after {
        content: "|";
        margin: 0 0.6em;
    }

    .page-main .projects-div .columns {
        float: left;
        width: 31%;
        margin-right: 3.5%;
    }

    .page-main .projects-div .columns:last-child {
        margin-right: 0;
    }

    .page-main .projects-div .columns h2 {
        font-size: 1.3em;
        margin-bottom: 0.1em;
    }

    .page-main .projects-div .columns p {
        margin: 1em 0 0;
    }

    .page-main .projects-div .columns .fig-info {
        border-width: 0px 2px 2px 2px;
        border-style: solid;
        border-color: #f2f2f2;
        padding: 0.8em 0.6em;
    }

    .page-main .side-div {
        margin-top: 5.4em;
    }

    .page-main .side-div h2 {
        margin-bottom: 0.6em;
    }

    .page-main .side-div .block-content:before {
        content: " ";
        display: block;
        height: 0.5em;
        background: url('../images/pattern.png') left top repeat-x;
        margin: 0 0 2em;
    }

    .page-main .side-div .block-content:after {
        content: " ";
        display: block;
        height: 3em;
    }

    .page-main .side-div .categories-content span {
        display: block;
    }

    .page-main .side-div article {
        margin-bottom: 1.8em;
    }

    .page-main .side-div article p {
        margin-bottom: 0.2em;
    }